/* Google Font Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
:root {
  --color_main_titles: orange;
  --color_sec_titles: rgb(0, 217, 255);
  --main_texts: #ebe2c1;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://i.blogs.es/afb1eb/1366_2000/840_560.jpg") no-repeat top fixed;
  background-size: cover;
  text-align: center;
  padding: 5px;
}
body::-webkit-scrollbar {
  width: 0;
}
/* perfil */
.img-perfil {
  width: 14rem;
  height: 14rem;
  border-radius: 50% 50% 50% 50%;
  margin: 1rem auto;
  box-shadow: 0 0 15px black;
  object-fit: cover;
  object-position: top;
}
h1 {
  color: var(--color_main_titles);
}
h1 + label {
  color: var(--color_sec_titles);
  font-size: x-large;
  font-weight: bold;
}

/* presentacion */
main {
  scroll-snap-type: y mandatory;
}
article {
  color: var(--main_texts);
  @media screen and (max-width: 420px) {
    margin: 1.6rem auto;
  }
  margin: 4rem auto;
  text-align: center;
  font-size: larger;
  max-width: 50rem;
  align-items: center;
  scroll-snap-align: center;
}

/* seccion de proyectos */
section {
  display: grid;
  box-shadow: 0 -5px 10px black;
  margin: 10rem -5px -5px -5px;
  padding: 0 5px 5px;
  border-radius: 5px 5px 0 0;
  scroll-snap-align: center;
  transition: margin 0.5s ease;
  background: rgba(0, 0, 0, 0.7);
  @media screen and (max-width: 420px) {
    border-top: 0.5px solid black;
    margin-top: calc(100vh - 40rem);
    font-size: 15px;
  }
}
#checkProyects {
  display: none;
}
#checkProyects:checked ~ section {
  position: sticky;
  margin-top: -34rem;
  z-index: 10;
  @media screen and (max-width: 420px) {
    margin-top: -38.4rem;
    padding: 5px;
  }
}
.label-h2 {
  position: sticky;
  top: 10px;
  color: var(--color_main_titles);
  margin: 3px auto 13px;
  z-index: 99;
  text-shadow: 0 0 10px black;
}
.proyects-container {
  display: grid;
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 15px;
}
.proyect {
  background: top/cover url(/images/education-app.jpg);
  border-radius: 10px;
  border: 0.5px solid rgb(82, 40, 10);
  transition: all 0.5 ease;
}
.proyect :hover {
  box-shadow: 0 0 10px black;
}
.proyect a {
  display: block;
  text-decoration: none;
  color: var(--color_sec_titles);
  font-weight: bold;
  font-size: 22px;
  width: 100%;
  height: 100%;
  padding-top: 19rem;
  backdrop-filter: blur(2px);
  transition: all 0.5s ease;
}
.proyect a:hover {
  backdrop-filter: none;
  padding-top: 17rem;
  font-size: 24px;
}

/* acerca de  */
footer {
  display: flex;
  position: relative;
  flex-direction: column;
  color: var(--color_main_titles);
  font-size: larger;
  font-weight: bold;
  margin: 5px -5px -5px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.8);
}
